<div id="root"></div>


{% schema %}
{
  "name": "kit-combination",
  "target": "section",
  "enabled_on": {
    "templates": ["*"]
  },
  "stylesheet": "main.css",
  "javascript": "main.js",

  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ]
}
{% endschema %}

